<!DOCTYPE html>
<html lang="en">
  <% include head %>

<style media="screen">

</style>
<body>
<% include navbar %>

<div class="container">
  <div class="jumbotron">
    <h1>欢迎您使用中国问答网!</h1>
    <p>如果您是第一次来, 中国问答网, 注册一个用户.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">注册</a></p>
    <p><a class="btn btn-primary btn-lg" href="/question" role="button">Quest</a></p>
  </div>
</div>
<div class="container">

    <div class="row">
      <% data.forEach(function(info){ %>
      <div class="col-md-9">
        <div class="myline"></div>
        <div class="col-md-1 number">
            <p>查看</p>
            <span class="badge viewnumber"><%= info.viewNumber %></span>
        </div>
        <div class="col-md-1 number">
            <p>点赞</p>
            <span class="badge zanumber"><%= info.zanNumber %></span>
        </div>
        <div class="col-md-1 number">
            <p>解决</p>
            <span class="badge solenumber"><%= info.resolveNumber %></span>
        </div>
        <div class="col-md-8 title"><h4><a href="./wen/<%= info._id %>" target='_parent' >  <%= info.title %> </a></h4>
        </div>
        <div class="col-md-1 author"><%= info.author %></div>
        </div>
      <% })%>

      <div class="col-md-3 mybord"></div>
  </div>
  <div class="myline"></div>
</div>



<div class="container">

</div>
<br/>
<% include footer %>

</body>
</html>
