<!DOCTYPE html>
<html lang="en">
<% include head %>
<body>

<% include navbar %>



<div class="container">
  <div class="row">
    <h1><%= data.title %></h1>
    <p><%= data.context %></p>
    <h3><%= data.author %></h3>
    <h3><%= data.viewNumber %></h3>
    <h3><%= data.zanNumber %></h3>
    <h3><%= data.resolveNumber %></h3>

  </div>
</div>

<% include footer %>

</body>
</html>
